body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculatrice {
  overflow: auto;
  flex-direction: column;
  justify-content: center;
}

#bloc {
  padding: 8px;
  width: 100px;
  align-items: center;


}